

  <div class="container">
    <div class="content">
        <form class="example-form">
            <label for="">Ingresa Salario</label>
            <mat-form-field class="example-full-width">
              <mat-label>Salario</mat-label>
              
              <input type="number" matInput   [(ngModel)]="formUtilidad.salario" name="salario"
                     placeholder="1000">
            </mat-form-field>
        
        
            <label for="">Ingresa Años</label>
            <mat-form-field class="example-full-width">
                <mat-label>Año</mat-label>
                <input type="number" matInput  [(ngModel)]="formUtilidad.anios" name="anios"
                       placeholder="2">
              </mat-form-field>
        
              <button type="button" (click)="calcularUtilidad()" mat-flat-button>calcular</button>
        
              @if (mostrarResultado) {
                <div>
                    <h3>{{resultadofinal}}</h3>
                </div>
        
              }
        
          </form>
    </div>
  </div>