<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span >App Cibertec</span>
    &nbsp;&nbsp;
    <button mat-button (click)="irPreguntaDos()">Pregunta Dos</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irPreguntaTres()">Pregunta Tres</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irPreguntaCuatro()">Pregunta Cuatro</button>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
 
  </mat-toolbar>
  


<hr />
<router-outlet></router-outlet>
